body {
  margin: 0;
  background-color: #1e1e23;
  font-family: -apple-system, BlinkMacSystemFont, HelveticaNeue, Roboto,
    Helvetica, MalgunGothic, "맑은 고딕", sans-serif;
}
h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 20px;
  font-weight: bold;
  color: #1e1e23;
}

.container .logo {
  width: 100%;
  height: 112px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: center;

}
.container .logo div{
  width: 100%;
  margin: 5px;
  text-align: center;
}
.container .logo div img{
  height: 100%;
  
}
.container .favorite,
.popular {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  margin: 5px 0;
  border-radius: 5px;
}


.container .popular .p-corpList {
  padding: 10px 0;
  margin: 0 20px;
}

.p-corpList .p-listHeader {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 0 5px 10px;
  font-size: 15px;
  font-weight: bold;
}

.p-header-corpName {
  width: 20%;
  text-align: left;
}
.p-header-sales,
.p-header-salesIncrease {
  width: 20%;
  text-align: center;
}
.p-header-asset,
.p-header-netIncome {
  width: 20%;
  text-align: right;
}

.container .popular .p-corpList .p-listContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.container .popular .p-corpList .p-listContent .p-corp {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  height: 60px;
  padding: 0 5px;
  text-decoration: none;
  color: #000000;
  cursor: auto;
}
.p-corpName {
  width: 20%;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #1e1e23;
}
.p-corpName span img {
  width: 25px;
  margin-right: 5px;
  z-index: 100;
}
.p-corpName span img:hover {
  cursor: pointer;
}
.p-sales {
  width: 20%;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #1e1e23;
}
.p-salesIncrease {
  width: 20%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-salesIncrease .redbox {
  background-color: #ed3738;
  width: 80px;
  height: 30px;
  margin: 4px 0 0 6px;
  font-weight: 700;
  line-height: 34px;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
  line-height: 30px;
  display: inline-block;
  vertical-align: top;
}
.p-asset,
.p-netIncome {
  width: 20%;
  text-align: right;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.5px;
  font-weight: 700;
  color: #1e1e23;
}
